@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush&display=swap');
$clr-white:#ffffff;
$clr-theme:#ef2731;
$clr-red:#ef2731;
$clr-default:#151515;
$clr-gray: #555555;
$clr-gray-text:#acacac;
$clr-lightgray:#888888;
$clr-darkgray: #303030;
$clr-black: #000000;
$clr-yellow:#cad96f;
$clr-green:#7fff00;
$clr-yellow:#FECC00;
$clr-blue:#264796;

/* font weight */

$font-regular:400;
$font-black:900;
$font-medium:600;
$font-bold:700;
$fnt1:'Roboto',
sans-serif;

/* breakpoints */

$mobile-breakpoint: 768px;
$tab-breakpoint: 992px;
$desktop-breakpoint: 1024px;