<footer class="bs-footer">
    <div class="footer-box ">
        <div class="container">
            <div class="row footer-info">
                <div class="col-md-3 col-sm-12 col-xs-12 contact-col">
                    <h4>About Us</h4>
                    <div class="address contact-styling">
                        <span><i class="icon icon-tg-maps"></i></span>
                        <span class="">Trigyn Technologies Ltd, 27 SDF-1, SEEPZ, Andheri (East), Mumbai 400096</span>
                    </div>

                    <div class="phone-no contact-styling ">
                        <span><i class="icon icon-tg-maps"></i></span>
                        <span><a href="tel:+912261400909">+91-22-61400909</a></span>
                    </div>


                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 contact-col ">
                    <h4>Quick Links</h4>
                    <div class="bs-list">
                        <ul class="list-content ">
                            <li class="address contact-styling">
                                <a href="#"><i class="icon icon-tg-right-chevron"></i> About Us </a>
                            </li>
                            <li class=" contact-styling">
                                <a href="#">
                                    <i class="icon icon-tg-right-chevron"></i> Blogs </a>
                            </li>
                            <li class="contact-styling">
                                <a href="#"><i class="icon icon-tg-right-chevron"></i> Categories</a>
                            </li>
                            <li class="contact-styling">
                                <a href="#"> <i class="icon icon-tg-right-chevron"></i> Courses</a>
                            </li>
                            <li class=" contact-styling bottom-space">
                                <a href="#"> <i class="icon icon-tg-right-chevron"></i> Contact Us</a>
                            </li>

                        </ul>
                    </div>








                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 contact-col ">
                    <h4>Tags</h4>
                    <div class="address contact-styling">


                        <div class="bs-tag-wrap">
                            <ul class="clearfix">
                                <li>
                                    <div class="bs-btn typ-gray">Course</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Events</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Projects</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Develoment</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Blogs</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Designing</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">IT & Security</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Photography</div>

                                </li>
                                <li>
                                    <div class="bs-btn typ-gray">Accounts & Finance</div>

                                </li>

                            </ul>

                        </div>
                    </div>


                </div>
                <div class="col-md-3 col-xs-12 contact-col pad-left">
                    <h4>Social Media</h4>
                    <div class="social-links social-box clearfix">
                        <div class="">
                            <a href="#" target="_blank" class="social-style"><i class="icon icon-tg-instagram"></i></a>
                        </div>
                        <div>
                            <a href="#" target="_blank" class="social-style"><i class="icon icon-tg-facebook"></i></a>
                        </div>

                        <div>
                            <a href="#" target="_blank" class="social-style"><i class="icon icon-tg-twitter"></i></a>
                        </div>
                        <div>
                            <a href="#" target="_blank" class="social-style"><i class="icon icon-tg-facebook"></i></a>
                        </div>


                    </div>





                </div>




            </div>
        </div>

    </div>


    <div class="footer-social">
        <div class="container">
            <div class="row copyright">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <p class="copy-dtls">© Trigyn Technologies Limited. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                    <span><a href="#" target="_blank"> <span>Privacy </span><span>Policy</span></a>
                    </span> |
                    <span><a href="#" target="_blank"> <span>Terms Of </span><span>Use</span></a>
                    </span> |
                    <span><a href="#" target="_blank"> <span>Disclaimer &amp; </span><span>Feedback</span></a>
                    </span>
                </div>
            </div>
        </div>
    </div>





</footer>